@layer theme, base, components, utilities;

@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

.bg-accent {
	background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.bg-accent-light {
	background-color: hsl(
		var(--accent-h),
		var(--accent-s),
		calc(var(--accent-l) + 5%)
	);
}

.bg-accent-dark {
	background-color: hsl(
		var(--accent-h),
		var(--accent-s),
		calc(var(--accent-l) - 5%)
	);
}

.bg-secondary {
	background-color: var(--background-secondary);
}

.bg-secondary-alt {
	background-color: var(--background-secondary-alt);
}

.text-accent {
	color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.text-accent-light {
	color: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
}

.text-accent-dark {
	color: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 5%));
}

.text-muted {
	color: var(--text-muted);
}

.text-on-accent {
	color: var(--text-on-accent);
}

.hover\:text-on-accent-hover:hover {
	color: var(--text-on-accent-hover);
}

.border-modifier {
	border-color: var(--background-modifier-border);
}

.hover\:border-modifier-hover:hover {
	border-color: var(--background-modifier-border-hover);
}

.border-accent {
	border-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.hover\:bg-accent:hover {
	background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.hover\:bg-accent-light:hover {
	background-color: hsl(
		var(--accent-h),
		var(--accent-s),
		calc(var(--accent-l) + 5%)
	);
}

.hover\:bg-accent-dark:hover {
	background-color: hsl(
		var(--accent-h),
		var(--accent-s),
		calc(var(--accent-l) - 5%)
	);
}

.progress-button {
	cursor: pointer;
	width: 100%;
	background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	color: var(--text-on-accent);
	padding: 1rem; /* py-4 */
	border-radius: 0.5rem; /* rounded-lg */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem; /* gap-2 */
	transition-property: color, background-color;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.progress-button:hover {
	background-color: hsl(
		var(--accent-h),
		var(--accent-s),
		calc(var(--accent-l) - 5%)
	);
	color: var(--text-on-accent);
}
